<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
			<section name="Factorio_Headless_Server_Tool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
		</sectionGroup>
	</configSections>
	<userSettings>
		<Factorio_Headless_Server_Tool.Properties.Settings>
   <setting name="factorioDataPath" serializeAs="String">
    <value />
   </setting>
   <setting name="LastFormSize" serializeAs="String">
    <value>988, 970</value>
   </setting>
   <setting name="LastFormLocation" serializeAs="String">
    <value>100, 100</value>
   </setting>
   <setting name="processName" serializeAs="String">
    <value>Factorio Headless Server - CMD</value>
   </setting>
   <setting name="lastUsername" serializeAs="String">
    <value />
   </setting>
   <setting name="lastPassword" serializeAs="String">
    <value />
   </setting>
   <setting name="lastToken" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="lastPort" serializeAs="String">
    <value>34197</value>
   </setting>
   <setting name="autoUpdate" serializeAs="String">
    <value>False</value>
   </setting>
  </Factorio_Headless_Server_Tool.Properties.Settings>
	</userSettings>
</configuration>